@import url("/web/20160324222707cs_/http://activeii.com/Portals/_default/Skins/MinimalExtropy/css/variations/stylesheetwidget.css");























/*
     FILE ARCHIVED ON 22:27:07 Mar 24, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:14:43 Feb 07, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 65.121
  exclusion.robots: 0.163
  exclusion.robots.policy: 0.147
  RedisCDXSource: 1.164
  esindex: 0.014
  LoadShardBlock: 35.912 (3)
  PetaboxLoader3.datanode: 71.42 (5)
  CDXLines.iter: 24.243 (3)
  load_resource: 219.647 (2)
  PetaboxLoader3.resolve: 90.414 (2)
*/