@import url("/web/20170930135211cs_/http://activeii.com/Portals/_default/Skins/MinimalExtropy/css/variations/stylesheetwidget.css");























/*
     FILE ARCHIVED ON 13:52:11 Sep 30, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:52:03 Feb 07, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 202.884
  exclusion.robots: 0.072
  exclusion.robots.policy: 0.064
  cdx.remote: 0.057
  esindex: 0.008
  LoadShardBlock: 158.869 (3)
  PetaboxLoader3.datanode: 173.02 (4)
  CDXLines.iter: 16.468 (3)
  load_resource: 86.475
  PetaboxLoader3.resolve: 36.57
*/